BasedOnStyle: Google
AccessModifierOffset: -4
IndentWidth: 4
AlignAfterOpenBracket: true
BreakBeforeBraces: Allman
ColumnLimit: 120
PackConstructorInitializers: CurrentLine
AllowShortFunctionsOnASingleLine: Empty